<div class="hn-topbar">
    <div class="hn-brand">
        <span class="hn-dot"></span>
        <a href="">Hot News</a>
    </div>
    <nav class="hn-nav">
        <NavLink class="hn-nav-link" href="" Match="NavLinkMatch.All">
            Best Stories
        </NavLink>
    </nav>
</div>
